/.idea/
/base-consumer/src/node_modules/
/base-processor/src/node_modules/
/consumer/src/node_modules/
/processor-kafka/src/node_modules/
/json-to-cef-converter/.idea/
/json-to-cef-converter/.gradle/
/json-to-cef-converter/build/
/.terraform.lock.hcl
/.terraform/
